secret_number = 9
guess_number = 3
guess_count = 0
while guess_count < guess_number:
    guess = int(input("Guess: "))
    guess_count += 1
    if guess == secret_number:
        print('You won!')
        break
else:
     print("Sorry! You failed")

